{% if db_persistence_enabled | bool %}
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  labels:
  name: {{ ansible_operator_meta.name }}-mariadb-pvc
  namespace: {{ ansible_operator_meta.namespace }}
spec:
  storageClassName: {{ storage_class }}
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: {{ db_persistence_storage }}
{% endif %}

---
kind: Deployment
apiVersion: apps/v1
metadata:
  name: '{{ ansible_operator_meta.name }}-mariadb'
  namespace: '{{ ansible_operator_meta.namespace }}'
spec: 
  strategy:
    type: Recreate
  replicas: 1
  selector:
    matchLabels:
      app: mariadb
  template:
    metadata:
      labels:
        app: mariadb
    spec:
{% if db_node_selector %}
      nodeSelector:
        {{ db_node_selector | indent(width=8) }}
{% elif node_selector %}
      nodeSelector:
        {{ node_selector | indent(width=8) }}
{% endif %}
      containers:
      - name: mariadb
        resources: {{ db_resource_requirements }}
        env:
        - name: MYSQL_ROOT_PASSWORD
          valueFrom:
            secretKeyRef: 
              name: '{{ ansible_operator_meta.name }}-mariadb-secret'
              key: root-password
        - name: MYSQL_PASSWORD
          valueFrom:
            secretKeyRef: 
              name: '{{ ansible_operator_meta.name }}-mariadb-secret'
              key: password
        - name: MYSQL_DATABASE
          value: squest_db # This is hardcoded in squest.
        - name: MYSQL_USER
          value: "{{ db_user }}"
        image: "mariadb:11.0.3"
        ports:
        - containerPort: 3306
          name: db
{% if db_persistence_enabled | bool %}
        volumeMounts: 
        - name: mariadb-data
          mountPath: /var/lib/mysql
{% endif %}
      volumes:
{% if db_persistence_enabled | bool %}
      - name: mariadb-data
        persistentVolumeClaim:
          claimName: {{ ansible_operator_meta.name }}-mariadb-pvc
{% else %}
      - name: mariadb-data
        emptyDir: {}
{% endif %}

---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: mariadb
  name: '{{ ansible_operator_meta.name }}-mariadb-svc'
  namespace: '{{ ansible_operator_meta.namespace }}'
spec:
  ports:
    - name: db
      port: 3306
  selector:
    app: mariadb