{% if rabbitmq.persistence.enabled | bool %}
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  labels:
  name: {{ ansible_operator_meta.name }}-rabbitmq-pvc
  namespace: {{ ansible_operator_meta.namespace }}
spec:
  storageClassName: {{ rabbitmq.persistence.storage_class }}
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: {{ rabbitmq.persistence.size }}
{% endif %}

---
kind: Deployment
apiVersion: apps/v1
metadata:
  name: '{{ ansible_operator_meta.name }}-rabbitmq'
  namespace: '{{ ansible_operator_meta.namespace }}'
spec: 
  strategy:
    type: Recreate
  replicas: 1
  selector:
    matchLabels:
      app: rabbitmq
  template:
    metadata:
      labels:
        app: rabbitmq
    spec:
{% if rabbitmq.node_selector %}
      nodeSelector:
        {{ rabbitmq.node_selector | indent(width=8) }}
{% endif %}
      containers:
      - name: rabbitmq
        image: "rabbitmq:3.10.23-management"
        env:
        - name: RABBITMQ_DEFAULT_PASS
          value: rabbitmq
        - name: RABBITMQ_DEFAULT_USER
          value: rabbitmq
        ports:
        - containerPort: 5672
          name: amqp
        - containerPort: 5671
          name: amqp-tls
{% if db.persistence.enabled | bool %}
        volumeMounts: 
        - name: rabbitmq-data
          mountPath: /var/lib/rabbitmq
{% endif %}
      volumes:
{% if db.persistence.enabled | bool %}
      - name: rabbitmq-data
        persistentVolumeClaim:
          claimName: {{ ansible_operator_meta.name }}-rabbitmq-pvc
{% else %}
      - name: rabbitmq-data
        emptyDir: {}
{% endif %}

---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: rabbitmq
  name: '{{ ansible_operator_meta.name }}-rabbitmq-svc'
  namespace: '{{ ansible_operator_meta.namespace }}'
spec:
  ports:
    - name: amqp
      port: 5672
    - name: amqp-tls
      port: 5671
  selector:
    app: rabbitmq